#red{
    color:red;
}
#blue{
    color:blue;
}
#yellow{
    color:yellow;
}
#green{
    color:green;
}
#orange{
    color:orange;
}
#purple{
    color:purple;
}
#black{
    color:black;
}
#brown{
    color:brown;
}
#white{
    color:white;
}